<header>
<ul id="navigation">
  <li>Welcome</li>
  <li>Portfolio</li>
  <li>Bloig</li>
  <li>About</li>
  <li>Contact</li>
</ul>  
</header>

<body>
  <p id="intro">A brief intro to my Code</p>
  <p id="view-my-work">View My Work</p>
</body>

<footer>
  <ul id="social-media">
  <li>Facebook</li>
  <li>LinkedIn</li>
</ul>  
</footer>